<form action="/bookmarks" method="post">
  <label>Bookmark title:</label>
  <input type="text" name="title">
  <label>Bookmark url: </label>
  <input type="text" name="url" />
  <input type="submit" value="Submit" />
</form>